@{
    Layout = "~/Views/Shared/_LayoutEdu.cshtml";
}
<aside id="fh5co-hero">
    <div class="flexslider">
        <ul class="slides">
            <li style="background-image: url(/Content/images/img_bg_4.jpg);">
                <div class="overlay-gradient"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center slider-text">
                            <div class="slider-text-inner">
                                <h1 class="heading-section">Product Features</h1>
                                <h2>We offer seamless features for managing institutions on small, medium and large scale</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</aside>

<div id="fh5co-staff">
    <div class="container">
        <div class="row">
            <div class="col-md-3 text-center">
                <div class="staff">
                    <div class="staff-img" style="background-image: url(/Content/images/staff-1.jpg);">
                    </div>
                    <span>Core Module</span>
                    <h3><a href="#">Student Management</a></h3>
                    <p>Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi.</p>
                </div>
            </div>
            <div class="col-md-3 animate-box text-center">
                <div class="staff">
                    <div class="staff-img" style="background-image: url(/Content/images/staff-2.jpg);">
                    </div>
                    <span>Core Module</span>
                    <h3><a href="#">Course Management</a></h3>
                    <p>Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi.</p>
                </div>
            </div>
            <div class="col-md-3 animate-box text-center">
                <div class="staff">
                    <div class="staff-img" style="background-image: url(/Content/images/staff-3.jpg);">
                    </div>
                    <span>Core Module</span>
                    <h3><a href="#">Staff Management</a></h3>
                    <p>Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi.</p>
                </div>
            </div>
            <div class="col-md-3 animate-box text-center">
                <div class="staff">
                    <div class="staff-img" style="background-image: url(/Content/images/staff-1.jpg);">
                    </div>
                    <span>Core Module</span>
                    <h3><a href="#">Fee Management</a></h3>
                    <p>Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi.</p>
                </div>
            </div>
            <div class="col-md-3 animate-box text-center">
                <div class="staff">
                    <div class="staff-img" style="background-image: url(/Content/images/staff-1.jpg);">
                    </div>
                    <span>Core Module</span>
                    <h3><a href="#">Examination Management</a></h3>
                    <p>Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi.</p>
                </div>
            </div>
            <div class="col-md-3 animate-box text-center">
                <div class="staff">
                    <div class="staff-img" style="background-image: url(/Content/images/staff-3.jpg);">
                    </div>
                    <span>Pro Module</span>
                    <h3><a href="#">Transport Management</a></h3>
                    <p>Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi.</p>
                </div>
            </div>
            <div class="col-md-3 animate-box text-center">
                <div class="staff">
                    <div class="staff-img" style="background-image: url(/Content/images/staff-2.jpg);">
                    </div>
                    <span>Pro Module</span>
                    <h3><a href="#">Leave Management</a></h3>
                    <p>Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi.</p>
                </div>
            </div>
            <div class="col-md-3 animate-box text-center">
                <div class="staff">
                    <div class="staff-img" style="background-image: url(/Content/images/staff-3.jpg);">
                    </div>
                    <span>Pro Module</span>
                    <h3><a href="#">Report Management</a></h3>
                    <p>Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi.</p>
                </div>
            </div>
        </div>
    </div>
</div>
