@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutEdu.cshtml";
}



<aside id="fh5co-hero">
    <div class="flexslider">
        <ul class="slides">
            <li style="background-image: url(/Content/images/img_bg_1.jpg);">
                <div class="overlay-gradient"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center slider-text">
                            <div class="slider-text-inner">
                                <h1>The Roots of Education are Bitter, But the Fruit is Sweet</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image: url(/Content/images/img_bg_2.jpg);">
                <div class="overlay-gradient"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center slider-text">
                            <div class="slider-text-inner">
                                <h1>The Great Aim of Education is not Knowledge, But Action</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li style="background-image: url(/Content/images/img_bg_3.jpg);">
                <div class="overlay-gradient"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center slider-text">
                            <div class="slider-text-inner">
                                <h1>We Help You to Learn New Things</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</aside>
<div id="fh5co-course-categories">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
                <h2>School Marg - Features</h2>
                <p>Everything your institution will ever need</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-6 text-center animate-box">
                <div class="services">
                    <span class="icon">
                        <i class="icon-shop"></i>
                    </span>
                    <div class="desc">
                        <h3><a href="#">School Management</a></h3>
                        <p>Easily manage your schools, colleges, universities and training institutes.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 text-center animate-box">
                <div class="services">
                    <span class="icon">
                        <i class="icon-group"></i>
                    </span>
                    <div class="desc">
                        <h3><a href="#">Students</a></h3>
                        <p>Maintain student details, employee details, Parent Details.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 text-center animate-box">
                <div class="services">
                    <span class="icon">
                        <i class="icon-briefcase"></i>
                    </span>
                    <div class="desc">
                        <h3><a href="#">Staff</a></h3>
                        <p>Manage staff details for the coures and administration</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 text-center animate-box">
                <div class="services">
                    <span class="icon">
                        <i class="icon-book"></i>
                    </span>
                    <div class="desc">
                        <h3><a href="#">Courses</a></h3>
                        <p>Manage different courses that you offer and maintain student batches.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 text-center animate-box">
                <div class="services">
                    <span class="icon">
                        <i class="icon-banknote"></i>
                    </span>
                    <div class="desc">
                        <h3><a href="#">Fees</a></h3>
                        <p>Define your fee structure, manage fee collection.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 text-center animate-box">
                <div class="services">
                    <span class="icon">
                        <i class="icon-edit"></i>
                    </span>
                    <div class="desc">
                        <h3><a href="#">Exams</a></h3>
                        <p>Manage your class timetable, examination and payroll.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 text-center animate-box">
                <div class="services">
                    <span class="icon">
                        <i class="icon-plane"></i>
                    </span>
                    <div class="desc">
                        <h3><a href="#">Transport</a></h3>
                        <p>Manage Transport facilities for the staff and students.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 text-center animate-box">
                <div class="services">
                    <span class="icon">
                        <i class="icon-th-list"></i>
                    </span>
                    <div class="desc">
                        <h3><a href="#">Reports</a></h3>
                        <p>Get custom reports as per your business needs.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="fh5co-counter" class="fh5co-counters" style="background-image: url(/Content/images/img_bg_4.jpg);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row">
                    <div class="col-md-3 col-sm-6 text-center animate-box">
                        <span class="icon"><i class="icon-world"></i></span>
                        <span class="fh5co-counter js-counter" data-from="0" data-to="10" data-speed="5000" data-refresh-interval="50"></span>
                        <span class="fh5co-counter-label">Institutions</span>
                    </div>
                    <div class="col-md-3 col-sm-6 text-center animate-box">
                        <span class="icon"><i class="icon-study"></i></span>
                        <span class="fh5co-counter js-counter" data-from="0" data-to="370" data-speed="5000" data-refresh-interval="50"></span>
                        <span class="fh5co-counter-label">Students Enrolled</span>
                    </div>
                    <div class="col-md-3 col-sm-6 text-center animate-box">
                        <span class="icon"><i class="icon-bulb"></i></span>
                        <span class="fh5co-counter js-counter" data-from="0" data-to="50" data-speed="5000" data-refresh-interval="50"></span>
                        <span class="fh5co-counter-label">Courses</span>
                    </div>
                    <div class="col-md-3 col-sm-6 text-center animate-box">
                        <span class="icon"><i class="icon-head"></i></span>
                        <span class="fh5co-counter js-counter" data-from="0" data-to="108" data-speed="5000" data-refresh-interval="50"></span>
                        <span class="fh5co-counter-label">Certified Teachers</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="fh5co-course">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
                <h2>Core Modules</h2>
                <p>We have 10+ extesible modules for the application framework. Here below a few..</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 animate-box">
                <div class="course">
                    <a href="#" class="course-img" style="background-image: url(/Content/images/project-1.jpg);">
                    </a>
                    <div class="desc">
                        <h3><a href="#">Dashboard</a></h3>
                        <p>Dashlet driven dashboard. Great user experience with a user friendly interface.Easy to learn and easy to master.Displays latest news, Events, discussions, birthdays, leave applications.</p>
                        <span><a href="#" class="btn btn-primary btn-sm btn-course">More...</a></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 animate-box">
                <div class="course">
                    <a href="#" class="course-img" style="background-image: url(/Content/images/project-2.jpg);">
                    </a>
                    <div class="desc">
                        <h3><a href="#">Admission</a></h3>
                        <p>Unique ID for all students. Comprehensive admission form. Customisable as per school standards. Photo upload facility.Manage student records. Attach any type of document and data related to student.</p>
                        <span><a href="#" class="btn btn-primary btn-sm btn-course">More...</a></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 animate-box">
                <div class="course">
                    <a href="#" class="course-img" style="background-image: url(/Content/images/project-3.jpg);">
                    </a>
                    <div class="desc">
                        <h3><a href="#">Timetable</a></h3>
                        <p>Drag and drop timetable. Alerts on subject limits per week. Conflict warnings.Timetable creation in advance.Edit/Delete timetable. View teacher's timetable.</p>
                        <span><a href="#" class="btn btn-primary btn-sm btn-course">More...</a></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 animate-box">
                <div class="course">
                    <a href="#" class="course-img" style="background-image: url(/Content/images/project-4.jpg);">
                    </a>
                    <div class="desc">
                        <h3><a href="#">Attendance</a></h3>
                        <p>Easy marking of attendance. Note/Remarks for attendance can be given.Different types of attendance report can be taken.Reports can be filtered using the available filters.</p>
                        <span><a href="#" class="btn btn-primary btn-sm btn-course">More...</a></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 animate-box">
                <div class="course">
                    <a href="#" class="course-img" style="background-image: url(/Content/images/project-4.jpg);">
                    </a>
                    <div class="desc">
                        <h3><a href="#">Examinations</a></h3>
                        <p>Exam wise report, subject wise report, consolidated report, combined report and reports based on student rankings per class, batch, subject and attendance.</p>
                        <span><a href="#" class="btn btn-primary btn-sm btn-course">More...</a></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 animate-box">
                <div class="course">
                    <a href="#" class="course-img" style="background-image: url(/Content/images/project-4.jpg);">
                    </a>
                    <div class="desc">
                        <h3><a href="#">Student details</a></h3>
                        <p>Normal student view facility based on batches.View complete information of a student from their profile regarding reports, fees, activities, remarks, records. Search existing and former students.</p>
                        <span><a href="#" class="btn btn-primary btn-sm btn-course">More...</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="fh5co-testimonial" style="background-image: url(/Content/images/school.jpg);">
    <div class="overlay"></div>
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
                <h2><span>Testimonials</span></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="row animate-box">
                    <div class="owl-carousel owl-carousel-fullwidth">
                        <div class="item">
                            <div class="testimony-slide active text-center">
                                <div class="user" style="background-image: url(/Content/images/person1.jpg);"></div>
                                <span>Mary Walker<br><small>Students</small></span>
                                <blockquote>
                                    <p>&ldquo;Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.&rdquo;</p>
                                </blockquote>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimony-slide active text-center">
                                <div class="user" style="background-image: url(/Content/images/person2.jpg);"></div>
                                <span>Mike Smith<br><small>Students</small></span>
                                <blockquote>
                                    <p>&ldquo;Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.&rdquo;</p>
                                </blockquote>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimony-slide active text-center">
                                <div class="user" style="background-image: url(/Content/images/person3.jpg);"></div>
                                <span>Rita Jones<br><small>Teacher</small></span>
                                <blockquote>
                                    <p>&ldquo;Far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.&rdquo;</p>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="fh5co-pricing" class="fh5co-bg-section">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
                <h2>Plan &amp; Pricing</h2>
                <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
            </div>
        </div>
        <div class="row">
            <div class="pricing pricing--rabten">
                <div class="col-md-4 animate-box">
                    <div class="pricing__item">
                        <div class="wrap-price">
                            <!-- <div class="icon icon-user2"></div> -->
                            <h3 class="pricing__title">Trial</h3>
                            <!-- <p class="pricing__sentence">Single user license</p> -->
                        </div>
                        <div class="pricing__price">
                            <span class="pricing__anim pricing__anim--1">
                                <span class="pricing__currency">$</span>0
                            </span>
                            <span class="pricing__anim pricing__anim--2">
                                <span class="pricing__period">per year</span>
                            </span>
                        </div>
                        <div class="wrap-price">
                            <ul class="pricing__feature-list">
                                <li class="pricing__feature">One Day Trial</li>
                                <li class="pricing__feature">Limited Courses</li>
                                <li class="pricing__feature">Free 3 Lessons</li>
                                <li class="pricing__feature">No Supporter</li>
                                <li class="pricing__feature">No Tutorial</li>
                                <li class="pricing__feature">No Ebook</li>
                                <li class="pricing__feature">Limited Registered User</li>
                            </ul>
                            <button class="pricing__action">Choose plan</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 animate-box">
                    <div class="pricing__item">
                        <div class="wrap-price">
                            <!-- <div class="icon icon-store"></div> -->
                            <h3 class="pricing__title">Silver</h3>
                            <!-- <p class="pricing__sentence">Up to 5 users</p> -->
                        </div>
                        <div class="pricing__price">
                            <span class="pricing__anim pricing__anim--1">
                                <span class="pricing__currency">$</span>79
                            </span>
                            <span class="pricing__anim pricing__anim--2">
                                <span class="pricing__period">per year</span>
                            </span>
                        </div>
                        <div class="wrap-price">
                            <ul class="pricing__feature-list">
                                <li class="pricing__feature">One Year Standard Access</li>
                                <li class="pricing__feature">Limited Courses</li>
                                <li class="pricing__feature">300+ Lessons</li>
                                <li class="pricing__feature">Random Supporter</li>
                                <li class="pricing__feature">View Only Ebook</li>
                                <li class="pricing__feature">Standard Tutorials</li>
                                <li class="pricing__feature">Unlimited Registered User</li>
                            </ul>
                            <button class="pricing__action">Choose plan</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 animate-box">
                    <div class="pricing__item">
                        <div class="wrap-price">
                            <!-- <div class="icon icon-home2"></div> -->
                            <h3 class="pricing__title">Gold</h3>
                            <!-- <p class="pricing__sentence">Unlimited users</p> -->
                        </div>
                        <div class="pricing__price">
                            <span class="pricing__anim pricing__anim--1">
                                <span class="pricing__currency">$</span>499
                            </span>
                            <span class="pricing__anim pricing__anim--2">
                                <span class="pricing__period">per year</span>
                            </span>
                        </div>
                        <div class="wrap-price">
                            <ul class="pricing__feature-list">
                                <li class="pricing__feature">Life Time Access</li>
                                <li class="pricing__feature">Unlimited All Courses</li>
                                <li class="pricing__feature">7000+ Lessons &amp; Growing</li>
                                <li class="pricing__feature">Free Supporter</li>
                                <li class="pricing__feature">Free Ebook Downloads</li>
                                <li class="pricing__feature">Premium Tutorials</li>
                                <li class="pricing__feature">Unlimited Registered User</li>
                            </ul>
                            <button class="pricing__action">Choose plan</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>